.enterTree {
    animation: enterTree 3s linear forwards;
}

@keyframes enterTree {
    100% {
        opacity: 0;
        transform: translate(40vw);
    }
}
.openChest {
    animation: openChest 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

@keyframes openChest {
    10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }

}

#box {
    position: absolute;
    width: 1100px;
    height: 400px;
    border: 5px black solid;
}

#witch {position: absolute;
    width: 100px;
    top: 28%;
    left: 5%
}

#soldier { position: absolute;
    width: 100px;
    top: 23%;
    left: 15%;
}

#tree {
    height: 290px;
    position: absolute;
    left: 35%;
    top: 0%
}

#chest {
    width: 100px;
    position: absolute;
    left: 90%;
    top: 40%;
}

#dog {
    width: 185px;
    position: absolute;
    left: 65%;
    top: 30%;
}

#text {
    position: absolute;
    bottom: 7%;
    max-width: 60%;
    padding-left: 20%;
    color: lightgray;
    font-family: "Times New Roman", sans-serif;
}

#buttonOne {
    position: absolute;
    bottom: 5%;
    left: 5%;
}

#buttonTwo {
    position: absolute;
    bottom: 5%;
    right: 5%;
}
